* {
    box-sizing: border-box;
}


.left_col {
    float: left;
    position: relative;
    background-color: #acacac;
    width: 33.33%;
    height: 150px;
    padding: auto;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.mid_col {
    float: left;
    position: relative;
    background-color: #e6e6e6;
    width: 33.33%;
    height: 180px;
    padding: 7px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



.rigth_col a {
    text-decoration: none;
    color: #29415c;
    padding: 4px;

}

.rigth_col {
    float: left;
    position: relative;
    background-color: #acacac;
    width: 33.33%;
    height: 150px;
    padding-top: 90px;
    padding-right: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: right;
}



.header::after {
    content: "";
    display: table;
    clear: both;
}


.body_1,
section,
header {
    margin: 0% 2% 0% 2%;
}


/*Boton volver inicio*/

#btn_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #395a7f;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#btn_top:hover {
    background-color: #6e9fc1;
}


/* font-family: 'Homemade Apple', cursive;
font-family: 'Lora', serif;
font-family: 'Playpen Sans', cursive;
*/

.head {
    background-color: #395a7f;
    border-radius: 15px;
    display: block;
    position: relative;
}


.head h1 {
    display: block;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    padding: 40px;
}

.head h1 a {
    text-decoration: none;
    color: #fff;
    text-shadow: 4px 4px #000;

}

.menu {
    overflow: hidden;
    background-color: #acacac;
    border-radius: 10px;
}

.menu a {
    float: left;
    display: block;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 7px 7px;
}

.menu a.login {
    float: right;
    display: block;
    padding: 7px 7px;
}

.menu a:hover {
    color: white;
    background-color: #395a7f;
    border-radius: 15px;
    text-shadow: 2px 2px black;
}

.menu .icon {
    display: none;
}


@media screen and (max-width: 600px) {
    .menu a:not(:first-child) {
        display: none;
    }

    .menu a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .menu.responsive {
        position: relative;
    }

    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Slideshow Gallery */

img {
    vertical-align: middle;
}

.slider_container {
    position: relative;
    border-radius: 5px;
    padding-top: 10px;
}

.myslides {
    display: none;

}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #6e9fc1;
}

.img_number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 25px 25px 25px;
    position: absolute;

}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.slider_row:after {
    content: "";
    display: table;
    clear: both;
}

.slider_column {
    float: left;
    width: 14.27599%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


.body_2 {
    width: 100%;
    text-align: center;
    height: 900px;
    background-color: #c1d2e6;
    border-radius: 15px;

}

.body_2 h2 {
    padding-top: 10px;

}

/* Primera fila pagina*/

.first_row {
    display: inline-block;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;

}

.first_row p {
    text-align: justify;
    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 12px;

}

.imgresponsive {
    float: left;
    width: 50%;
    padding-right: 2%;
    border-radius: 10px;

}

.rightcolumn {
    float: right;
    width: 39%;
    height: 75px;
    padding: 7px;

}

.rightcolumn p {
    background-color: beige;
}


.foot {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 15px;
    background-color: #97afca;
    height: 200px;
}

/* CSS 60's Classics page*/


.tbl1_container {
    width: 100%;
    overflow-x: auto;
}

.table60 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    border: 5px solid #6e9fc1;
    background-color: #e6e6e6;
    margin-left: auto;
    margin-right: auto;

}

.table06 caption {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: xx-large;
}

.table60 th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
    padding: 8px;
}

.table60 td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-align: left;
    padding: 8px;
}

.imgresp {
    float: left;
    padding-right: 2%;
    display: block;

}

.table60 tr:nth-child(even) {
    background-color: #f2f2f2
}