
body {
    padding: 20px;
    background: #ffffff;
}

#social {
    overflow: hidden;
    background-color: #a8a8a8;
    height: 15px;
    padding-bottom: 0px;
}

.cuerpo {
    border-radius: 5px;
    margin: 10px;
}

.cuerpo2 {
    height: 1000px;
    
}

.cuerpo2 h2 {
    padding-top: 10px;
    
}


.imgresponsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;

}


/* font-family: 'Homemade Apple', cursive;
font-family: 'Lora', serif;
font-family: 'Playpen Sans', cursive;
*/

.head {
    background-color: rgb(49, 107, 173);
    border-radius: 15px;
    display: block;
    position: relative;
    padding-top: 0px;
    width: auto;
    height: auto;
}


.head h1 {
    display: block;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    padding: 40px;
}

.head h1 a {
    text-decoration: none;
    color: #fff;
    text-shadow: 4px 4px #000;

}

.menu {
    overflow: hidden;
    background-color: #a8a8a8;
    border-radius: 10px;
}

.menu a {
    float: left;
    display: block;
    color: #000;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding: 7px 7px;
}

.menu a.login {
    float: right;
    display: block;
    padding: 7px 7px;
}

.menu a:hover {
    color: white;
    background-color: rgb(49, 107, 173);
    border-radius: 15px;
    text-shadow: 2px 2px black;
}

.menu .icon{
    display: none;
}


@media screen and (max-width: 600px) {
    .menu a:not(:first-child) {display: none;}
    .menu a.icon {
      float: right;
      display: block;
    }
 }
  
  @media screen and (max-width: 600px) {
    .menu.responsive {position: relative;}
    .menu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.leftcolumn {
    float: left;
    width: 60%;
    height: 75px;
    padding: 7px;
}

.rightcolumn {
    float: right;
    width: 39%;
    height: 75px;
    padding: 7px;
    
}

.rightcolumn p{
    background-color: beige;
}


.pie {
    font-size: 20px;
    position: relative;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
}

